.mymeal {
    /* background-color: #F2F5FD; */
    padding: 20px;
    margin: -40px 20px 20px 20px;
    /* Đặt dashboard bắt đầu từ viền phải của sidebar */
    /* width: calc(100% - 240px); */
    width: 100%;
    /* Trừ phần width của sidebar */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.meal-title {
    font-size: 30px;
    margin-top: 80px;
}

.control {
    justify-content: space-between;
    /* align-items: right; */
    display: flex;
    flex-wrap: nowrap;
}


.choose-button,
.btn-modal {
    background-color: #0072FD;
    border-radius: 10px;
    color: #FFFF;
    display: block;
}

.btn-modal {
    width: 200px;
    height: 40px;
}

.choose-button {
    width: 100px;
    height: 40px;
    font-size: 14px;
}

.add-button {
    margin-top: 20px;
    align-self: center;
    /* width: 100%; */
    width: 200px;
    height: 40px;
    background-color: #0072FD;
    border-radius: 10px;
    color: #FFFF;
    display: flex;
    margin-left: 77px;
}

.control_modal4 {
    justify-content: space-between;
    /* align-items: right; */
    display: flex;
}

.save-button {
    align-self: center;
    /* width: 100%; */
    width: 150px;
    height: 40px;
    background-color: #0072FD;
    border-radius: 10px;
    color: #FFFF;
    display: flex;
}


body.active-modal {
    overflow-y: hidden;
}

.modal2 {
    z-index: 1200;
}

.modal {
    z-index: 1000;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 1px 28px;
    border-radius: 10px;
    width: 618px;
    height: 290px;
    overflow-y: auto; /* Add vertical scroll if content overflows */
}


.modal-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 800px;
    min-width: 400px;
    height: 270px;
    overflow: hidden;
}

.control_modal4 {
    justify-content: space-between;
    display: flex;
}

.cancel-button {

    align-self: center;
    width: 150px;
    height: 40px;
    background-color: #0072FD;
    border-radius: 10px;
    color: #FFFF;
    display: flex;
    font-size: 14px;
    /* margin-left: 77px; */

}

.cancel_title {
    text-align: center;
}

.search-container {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    width: 100vw;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    /* filter: blur(1px); */
}

.search-input {
    width: 36.5vw;
    padding-left: 35px;
    height: 35px;
    padding-top: 2px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #e9e9ec;
    border: 1px solid#e9e9ec;
}

.close-button {
    position: absolute;
    top: -5px;
    right: 10px;
    padding: 5px 7px;
    border: none;
    display: flex;
    width: 30px;

}

.number-input {
    margin-left: 15px;
}

.food-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

.potato-container {
    margin-bottom: 20px;
}

.serving-size,
.meal-option {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

#number-input {
    margin-right: 15px;
}

.information {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #babcc3;
}

.pro-info,
.fat-info,
.ca-info {
    margin-left: 20px;
}

.breakfast-header {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: -10px;
    background-color: #FFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.lunch-header {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: -10px;
    background-color: #FFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dinner-header {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: -10px;
    background-color: #FFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kcal-total,
.pro-total,
.ca-total,
.fat-total {
    color: #babcc3;
    margin-right: 20px;
}


table {
    /* display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin: 0 10px; */
    width: 100%;

}