
.setting {

    margin-left: 250px;
    padding-right: 50px;
    max-width: 1275px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(242, 245, 253);
}

.setting-title {
    margin-top: 80px;
    font-size: 30px;
    margin-left: 15px;
    margin-bottom: -80px;
}

.profile {
    margin-top: 30px;
}

.height {
    position: relative;
    display: inline-block;

}





.account,
.profile{
    background-color: white;
    margin: 95px 15px -70px 15px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 5px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.goal {
    background-color: white;
    margin: 100px 15px 20px 15px;
    padding-left: 20px;
    padding-top: 5px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.unit-kg-goal,
.unit-kg,
.unit-cm {
    margin-left: 5px;
}

.edit-icon-name,
.edit-icon-email,
.edit-icon-password {
    width: 36px;
    height: 36px;
    margin-bottom: -12px;
    margin-left: 16px;
}

#female-box {
    margin-left: 15px;
}

.cancel-modal,
.save-modal {
    width: 138.5px;
    height: 50px;
}
.save-modal1{
    margin-right: 22px;
    width: 138.5px;
    height: 50px;
}

.cancel-modal {
    margin-left: 300px;
    color: #007bff;
    background-color: white;
    border: 1px solid #007bff;
}

.modal-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body.active-modal {
    overflow-y: hidden;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: white;
    border-radius: 10px;
    width: 618px;
    height: 290px;
    padding-left: 10px;
    padding-top: 0px;
}
.modal-content1{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: white;
    border-radius: 10px;
    width: 618px;
    height: 480px;
    padding-left: 10px;
    padding-top: 0px;
}
input.name-input,
input.email-input,
input.password-input {
    padding-left: 10px;
    font-size: 16px;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
}
.name-input-again,
.email-input-again {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
margin-bottom: 1px;
    margin-left: 14px;
}
.password-input-again{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 1px;
    margin-left: 14px;
}
input.password-input1{
    margin-top: 10px;
    font-size: 16px;
    width:570px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 14px;
}
input.name-input1,
input.email-input1 {
    margin-top: 12px;
    font-size: 16px;
    width:580px;
    height: 40px;
    margin-bottom: 35px;
    margin-left: 14px;
    border: 1px solid black;
}

p {
    font-weight: 600;
    color: #474747;
    font-size: 18px;
margin-bottom: 10px;
}
h3{
    color: #474747;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 14px;
}

h2{
    color: #474747;
}
.close-modal {
    color:black;
    background-color: white;
    position: absolute;
    margin-top: -260px;
   margin-left: 580px;
    padding: 10px;
    cursor: pointer;
    width: 12px;
}

.close-modal,
.close-modal1:hover {
    background-color: rgb(255, 255, 255);
}

.close-modal1{
    color:black;
    background-color: white;
    position: absolute;
    margin-top: -430px;
    margin-left: 580px;
    padding: 10px;
    cursor: pointer;
    width: 12px;
}

/*Gender input*/
input[type="radio" i]{
    width: 25px;
    height: 25px;
margin-left: 20px;
}

.gender{
    margin-top: 30px;
    margin-bottom: 30px;
}

.gender input[type="radio"] {
    margin-top: -3px; /* điều chỉnh vị trí của radio buttons nếu cần */
    vertical-align: middle; /* đẩy label lên trên */
}

.ant-picker.ant-picker-outlined.css-dev-only-do-not-override-ccdg5a{
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
}

input.number{
    padding-left: 10px;
    font-size: 16px;
    width: 300px;
    height: 40px;
}

/*activity level*/

.activity_level {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.level {
    display: flex;
    align-items: center;
}

.level input[type="radio"] {
    margin-right: 1rem;
    margin-bottom: 25px;
}

.label_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 16px;
    color: gray;
    font-weight: 500;
}
label.selected{
font-size: 18px;
    color: black;
    font-weight: 500;
}
h5 {
    font-size: 0.85rem;
    color: lightgray;
    margin-top: 0.2rem;
}

.selected {
font-size: 16px;
    color: black;
    font-weight: 500;
}

/*save button*/
button.save-button{
    width: 160px;
    height: 50px;
    margin-left: 920px;
    margin-bottom: 40px;
display: flex;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

@media (max-width: 1024px) {
   button.save-button {
        margin-left: 600px;
    }
}

@media (max-width: 768px) {
    button.save-button {
        margin-left: 350px;
    }
}

@media (max-width: 425px) {
    
    .setting{
        margin-left: 0px;
        width: 100%;
    }
    button.save-button {
        margin-left: 150px;
    }
    
}